/*Body*/
body{
    /*background: linear-gradient(#ffffff, #000000);*/
    /*background: black;*/
    background: linear-gradient(#474747, #000000);
}

body .titulo{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    margin: 0 0 1em;
    color: white;
}

body p{
    font-family: 'lato', sans-serif;
    font-size: 18px;
    margin: 0 0 1em;
    color: #F8f8f8;
}

main .quem-somos{
    padding: 20px 0px;
    background:rgba(0, 0, 0, 0);
    width: 974px; 
    margin: 8px auto 0px auto;    
    height: 300px;
}

main .quem-somos img{
    padding: 10px 10px;
    float: right;
    width: 250px;
    height: 300px;]
}

/*Rodapé*/

footer{
    background: url(../imagens/rodape/bg.jpg);
    padding: 10px 0;
    height: 250px;
}


footer .rodape{
    position: relative;
    width: 450px;
    height: 250px;
    margin: 0 auto;
}

footer img{
    position: absolute;
    top: 0px;
    
}

footer .copyright{
    position: absolute;
    top: 125px;
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 18px;
    left: 200px;
    
}