/*Cabeçalho*/

header{
    background: #F8F8F8;
    padding: 20px 0;
}

header .caixa_topo{
    position: relative;
    width: 973px;
    margin: 0 auto;
}

header .caixa_topo h1{
    position: absolute;
    top: 100px;
    left: 220px;
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
}  

header .caixa_topo h1:hover{
    transition: 1s;
    font-size: 68px;
    color: #DD2422;    
}

header .caixa_topo .menu{
    position: absolute;
    top: 60px;
    right: 0;
}

header .caixa_topo .menu li{
    font-family: 'Open Sans', sans-serif;
    display: inline;
    margin: 0 0 0 15px;
}

header .caixa_topo .menu li a{
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 1);
}

header .caixa_topo .menu li a:hover{
    text-decoration: underline;
    color: #DD2422;
}

header .caixa_topo .redes_sociais{
    position: absolute;
    top: 160px;
    right: 0;
}

header .caixa_topo .redes_sociais li{
    display: inline;
    margin: 0 10px;
}

header .caixa_topo .redes_sociais li a:hover{
    border-bottom: 2px #DD2422;
    border-style: solid;
}

/*Body*/

.imagem_index img{
    width: 100%;
    opacity: 70%;
    height: 400px;
}


/*Rodapé*/
footer{
    text-align: center;
    background: url(../imagens/rodape/bg.jpg);
    padding: 10px 0;
}

footer .copyright{
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 14px;
    margin-top: 20px;
}